/*/obj
/*/Temp
/*/Logs
/*/Library
/*/*.pidb
/*/*.csproj
/*/*.csproj.DotSettings
/*/*.sln
/*/*.sln.DotSettings.user
/*/*.userprefs
/*/*.unityproj
/**/*.unitypackage
/**/*.unitypackage.zip
/**/*.unitypackage.meta
/*/Assets/Samples*
/*/Assets/SerializedUdonPrograms*
/*/Assets/TextMesh Pro*
/*/Assets/UdonSharp/Settings*
/*/Assets/VRCWelcome*
/*/*.zip

/**/*_Private*

/*/Assets/VRCSDK*
/*/Assets/Yodokorochan*
/*/Thry/*
